


.qLink:last-child .questionLink {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 16px 16px;
    border-radius: 0px 0px 16px 16px;
}

.qLink:hover .questionLink {
    background: rgb(50, 50, 50);
    color: rgb(200,200,200);
}



a {
    text-decoration: none;
    color: rgb(50,50,50);
}
.leftsidelink{
  text-align: left;
  padding-left: 8px;
  float: left;
}

.rightsidelink{
  text-align: right;
  float: right;
  padding-right: 8px;
}

.questionLink {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(50, 50, 50);
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .questionLink {
    height: 100px;
    flex-direction: row;
  }



}
@media only screen and (max-width: 767px) {
  .questionLink {
    height: 64px;
  }

  .questionLink h3{
    margin: 0px;
  }

  .questionTopic h3 {
    font-size: 1em;
    margin: 0px;
  }

  .questionDesc{
    display: none;
  }
}
