.questionPageContainer {
  background: rgb(200,200,200);
  min-height: 80vh;
  padding: 1px;
}

.questionHeader {
  border-bottom: 2px solid rgb(50,50,50);

}

@media only screen and (min-width: 768px) {

  .questionPageContainer {
      width: 80vw;
      border: 2px solid rgb(50,50,50);
      border-radius: 16px;
      margin: auto;
      margin-top: 16px;
      margin-bottom: 16px;
      padding: 0px;
  }

  .questionHeader {
      height: 100px;
      justify-content: space-between;
  }
  .leftside {
      text-align: left;
      float: left;
      padding-left: 8px;
  }

  .rightside {
      text-align: right;
      float: right;
      padding-right: 8px;
  }

}

@media only screen and (max-width: 767px) {
  .questionHeader{
    text-align: left;
    padding-left: 12px;
  }
  .questionHeader h2 {
    margin-bottom: 4px;
  }
  .questionHeader h4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .questionHeader h5 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}


.questionDescr {
    text-align: left;
    line-height: 1.4em;
    padding: 12px;
    margin:4px;
}

.questionPart {
    border-bottom: 1px solid rgba(25,25,25,.25);
}
.questionPart img{
  max-width: 60%;
}

.answerPart {
    text-align: left;
    padding-left: 8px;
}
.answerPart img{
  max-width: 60%;
}

pre {
  border: 1px solid rgb(40,40,40);
  border-radius: 4px;
  padding: 4px;
  max-width: 100%;
  overflow-x: auto;
  background: rgb(120,120,120);
  color: rgb(225,225,225);
}
