.contact{
  color: #222;
  width: 80vw;
}

.contactLinks {
  list-style-type: none;
  padding: 0px;
}

.contactLinks li{
  display: inline;
  margin: 4px;
}

li img {
  width: 100px;
}

@media only screen and (max-width: 767px) {
  .contact {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    margin: auto;
    text-align: left;
  }

}
