.header {
  background-color: hsl(182,100%,30%);
  padding: 20px 10vw 20px 10vw;
  color: #fff;
  box-sizing: border-box;
  width: 100vw;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a{
  color: #fff;
}

.title {
  align-self: flex-start;
  font-size: 1.5em;
  margin: 0px;
  text-align: left;
}

.title a {
  text-decoration: none;
}

.sub{
    font-size: 0.5em;
}

.rightMenu{
  float: right;
  align-self: center;
}
.rightMenu a{
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .header{
    padding: 20px 5vw 20px 5vw;
  }
}
