.introduction {
  color: #222;
  text-align: left;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.2rem;

}

.intro-text {
    margin-top: 4px;
    padding: 4px 16px;
    border-radius: 4px;
    background: #fff;
}

.sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gatesSection img{
    width: 15vw!important;
    height: 15vw;
    display: inline-block;
}

.gatesSection {
  width: 80vw;
  padding: 1vw;
  font-style: italic;
}



.gatesSection:nth-child(2n+1) {
    text-align: left;

}
.gatesSection:nth-child(2n) {
    text-align: right;
}

.section-inner{
    display: flex;
}

.gatesSection:nth-child(2n+1) .section-inner{
    float: left;
}

.gatesSection:nth-child(2n) .section-inner{
    float: right;
}

@media only screen and (max-width: 767px) {
  .introduction {
    margin: 4px;
  }
  .gatesSection img{
    width: 60vw;
  }
}
@media only screen and (min-width: 768px) {
  .introduction {
    width: 80vw;
  }
  .gatesSection img{
    width: 15vw;
  }
}
