.listframe {
    min-height: 60vh;
    background: rgb(200,200,200);
    padding: 0px;
    margin: auto;
    margin-top: 16px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 2px solid rgb(50,50,50);
}

.questionheader{
    -moz-border-radius: 0px;
    -webkit-border-radius: 16px 16px 0px 0px;
    border-radius: 16px 16px 0px 0px;
    padding: 3px;
}

@media only screen and (min-width: 768px) {
  .listframe {
      width: 80vw;
  }
}

@media only screen and (max-width: 767px) {
  .listframe {
      width: 100vw;
  }
}
